In [13]:
import os
import sys
from pathlib import Path
from dotenv import load_dotenv

load_dotenv()

sys.path.append(os.getenv("APPROOT"))

import fetch_population

In [12]:
df = fetch_population.main()
df.to_csv(Path(os.getenv("APPROOT")))

       year  area sex       age population
32712  1975   三重県   F  (10, 14)      59952
39480  1975   三重県   F  (15, 19)      58641
46248  1975   三重県   F  (20, 24)      58909
53016  1975   三重県   F  (25, 29)      70779
59784  1975   三重県   F  (30, 34)      63168
...     ...   ...  ..       ...        ...
72144  2021  鹿児島県   M  (40, 44)      46000
78912  2021  鹿児島県   M  (45, 49)      49000
85680  2021  鹿児島県   M  (50, 54)      46000
92448  2021  鹿児島県   M  (55, 59)      46000
99216  2021  鹿児島県   M  (60, 64)      55000

[47078 rows x 5 columns]