In [7]:
import os
import sys
import re
from dotenv import load_dotenv

load_dotenv()
sys.path.append(os.getenv("APPROOT"))

import fetch_estats


def main():
    df = fetch_estats.main("0000010101")
    df = df[df["地域"] != "全国"]
    df["sex"] = df["Ａ　人口・世帯"].apply(extract_sex)
    df["age"] = df["Ａ　人口・世帯"].apply(extract_age)
    df["year"] = df["調査年"].apply(cleanup_year)
    df = df.rename(columns = {"地域": "area","$": "population"})
    return (
        df.dropna()
        [["year", "area", "sex", "age", "population"]]
        .sort_values(["year", "area", "sex", "age"])
    )

def extract_sex(value):
    if "女" in value:
        return "F"
    elif "男" in value:
        return "M"
    else: 
        return None

def extract_age(value):
    _match = re.search(r"(\d{2})～(\d{2})", value)
    if _match:
        return _match.group(1), _match.group(2)

def cleanup_year(year):
    _match = re.search(r"\d*", year)
    if _match:
        return _match.group()

In [8]:
df

       year  area sex       age population
32712  1975   三重県   F  (10, 14)      59952
39480  1975   三重県   F  (15, 19)      58641
46248  1975   三重県   F  (20, 24)      58909
53016  1975   三重県   F  (25, 29)      70779
59784  1975   三重県   F  (30, 34)      63168
...     ...   ...  ..       ...        ...
72144  2021  鹿児島県   M  (40, 44)      46000
78912  2021  鹿児島県   M  (45, 49)      49000
85680  2021  鹿児島県   M  (50, 54)      46000
92448  2021  鹿児島県   M  (55, 59)      46000
99216  2021  鹿児島県   M  (60, 64)      55000

[47078 rows x 5 columns]