In [ ]:
import sqlite3
import enum

import pandas as pd
import dotenv

In [ ]:
dotenv.load_dotenv()

In [ ]:
class StatId(enum.Enum):
    population: str = "0000010101"
    environment: str = "0000010102"
    economics: str = "0000010103"
    administration: str = "0000010104"
    education: str = "0000010105"
    labour: str = "0000010106"
    culture: str = "0000010107"
    housing: str = "0000010108"
    medical_care: str = "0000010109"
    social_security: str = "0000010110"
    household_finance: str = "0000010111"
    daily_routine: str = "0000010112"

In [ ]:
p_conn = sqlite3.connect("./data/population.db")
record = pd.read_sql("select * from record;", p_conn)

c_conn = sqlite3.connect("./data/class.db")
tab = pd.read_sql("select * from tab", c_conn)
cat01 = pd.read_sql("select * from cat01", c_conn)
area = pd.read_sql("select * from area", c_conn)
time = pd.read_sql("select * from time", c_conn)
(
    record.drop(columns="@unit")
    .merge(tab, left_on="@tab", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "tab", "@level": "tab_level"})
    .merge(cat01, left_on="@cat01", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "cat01", "@level": "cat01_level"})
    .merge(area, left_on="@area", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "area", "@level": "area_level"})
    .merge(time, left_on="@time", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "time", "@level": "time_level"})
)