In [4]:
import pandas as pd
import sqlite3


conn = sqlite3.connect("./data/population.db")
df = pd.read_sql("SELECT * FROM record;", conn)
df.head()

    @tab   @cat01  @area       @time @unit        $
0  00001  A120101  00000  1975100000     人  5127359
1  00001  A120101  00000  1976100000     人  5064000
2  00001  A120101  00000  1977100000     人  4929000
3  00001  A120101  00000  1978100000     人  4750000
4  00001  A120101  00000  1979100000     人  4555000