In [12]:
import sqlite3
import enum

import pandas as pd
import dotenv

In [13]:
dotenv.load_dotenv()

True

In [14]:
class StatId(enum.Enum):
    population: str = "0000010101"
    environment: str = "0000010102"
    economics: str = "0000010103"
    administration: str = "0000010104"
    education: str = "0000010105"
    labour: str = "0000010106"
    culture: str = "0000010107"
    housing: str = "0000010108"
    medical_care: str = "0000010109"
    social_security: str = "0000010110"
    household_finance: str = "0000010111"
    daily_routine: str = "0000010112"

In [21]:
conn = sqlite3.connect("./data/japan-stats.db")
record = pd.read_sql("select * from population_record;", conn)

class_data = {
    "tab": pd.read_sql("select * from tab", conn),
    "cat01": pd.read_sql("select * from cat01", conn).drop(columns="@unit"),
    "area": pd.read_sql("select * from area", conn),
    "time": pd.read_sql("select * from time", conn)
}

df = (
    record
    .merge(class_data["tab"], left_on="@tab", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "tab", "@level": "tab_level"})
    .merge(class_data["cat01"], left_on="@cat01", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "cat01", "@level": "cat01_level"})
    .merge(class_data["area"], left_on="@area", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "area", "@level": "area_level"})
    .merge(class_data["time"], left_on="@time", right_on="@code", how="left")
    .drop(columns="@code")
    .rename(columns={"@name": "time", "@level": "time_level"})
)

In [22]:
df

,@tab,@cat01,@area,@time,@unit,$,tab,tab_level,cat01,cat01_level,area,area_level,time,time_level
0,00001,A120101,00000,1975100000,人,5127359,観測値,1,A120101_0～4歳人口（男）,1,全国,1,1975年度,1
1,00001,A120101,00000,1976100000,人,5064000,観測値,1,A120101_0～4歳人口（男）,1,全国,1,1976年度,1
2,00001,A120101,00000,1977100000,人,4929000,観測値,1,A120101_0～4歳人口（男）,1,全国,1,1977年度,1
3,00001,A120101,00000,1978100000,人,4750000,観測値,1,A120101_0～4歳人口（男）,1,全国,1,1978年度,1
4,00001,A120101,00000,1979100000,人,4555000,観測値,1,A120101_0～4歳人口（男）,1,全国,1,1979年度,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75739,00001,A122102,47000,2000100000,人,318,観測値,1,A122102_100歳以上人口（女）,1,沖縄県,2,2000年度,1
75740,00001,A122102,47000,2005100000,人,631,観測値,1,A122102_100歳以上人口（女）,1,沖縄県,2,2005年度,1
75741,00001,A122102,47000,2010100000,人,762,観測値,1,A122102_100歳以上人口（女）,1,沖縄県,2,2010年度,1
75742,00001,A122102,47000,2015100000,人,792,観測値,1,A122102_100歳以上人口（女）,1,沖縄県,2,2015年度,1
75743,00001,A122102,47000,2020100000,人,1034,観測値,1,A122102_100歳以上人口（女）,1,沖縄県,2,2020年度,1